@import "tailwindcss";
@theme{
  /* 🎨 رنگ‌های گلوبال لوکس */
  --color-gold: #FFD700;               /* طلایی درخشان */
  --color-dark-1: #251d02;         /* مشکی نرم‌تر برای پنل‌ها */
  --color-dark: #181818;              /* مشکی خالص */
  --color-gold-accent: #B8860B;        /* طلایی سلطنتی و کلاسیک */
  --color-gold-light: #F5DEB3;         /* طلایی روشن برای های‌لایت */
  --color-gold-shadow: #8B6F1D;        /* سایه طلایی برای border/shadow */
  --color-text-primary: #f8f8f8;       /* متن اصلی */
  --color-text-secondary: #AAAAAA;     /* متن کم‌اهمیت */
  --color-dark-shadow: #1C1C1C;        /* سایه‌ی تیره */


}
:root, body {
  font-family: "Playpen Sans Arabic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  
  background-image: url('/MainBG.webp');
  background-size: cover;         /* یا 'contain' بسته به نیاز */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;   /* برای اسکرول شیک */
  background-color: #000;         /* fallback لوکس */
  color: #000;                   /* پیش‌فرض برای متن */
}
